* {
  font-family: Garamond, serif;
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 50px;
  color: rgb(180, 93, 0);
}

h2 {
  font-size: 25px;
  color: rgb(100, 52, 0);
}

p,
li,
a {
  font-size: 20px;
  color: rgb(70, 70, 70);
}

a:link {
  color: black;
}

a:visited {
  color: rgb(130, 130, 130);
}

a:hover {
  color: rgb(150, 150, 150);
}

.ingredients {
  font-weight: bold;
}
