* {
  font-family: Garamond, serif;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  margin-left: 50px;
}

img {
  border: 4px solid white;
  border-radius: 10px;
  margin: 0;
  width: 400px;
  height: auto;
}

h1 {
  font-size: 50px;
  color: rgb(180, 93, 0);
  margin: 40px 0 30px 0;
  padding: 0 0 10px 0;
  border-bottom: 6px double;
  min-width: 400px;
  width: max-content;
}

h2 {
  font-size: 25px;
  color: rgb(100, 52, 0);
  margin: 30px 0 5px;
}

p,
li,
a {
  font-size: 20px;
  color: rgb(70, 70, 70);
  margin: 0;
}

ul,
ol {
  margin: 0 0 0 -20px;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(130, 130, 130);
}

a:hover {
  color: rgb(150, 150, 150);
}

.ingredients {
  font-weight: bold;
}

.home-nav {
  display: block;
  margin: 40px 0 50px 0;
}
